.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.calculator {
  height: 500px;
  width: 400px;
}

.row {
  display: flex;
  width: 100%;
}